In [40]:
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from sklearn import preprocessing
import matplotlib.pyplot as plt
from sklearn import svm
import pandas as pd
import numpy as np
import os

In [21]:
# taken from: https://www.kaggle.com/code/nnikolay/diabetes-classification-recall-78
def summary(df):
    summary = pd.DataFrame(df.dtypes, columns=['dtypes'])
    summary = summary.reset_index()
    summary['Missing'] = df.isnull().sum().values    
    summary['Uniques'] = df.nunique().values
    return summary

In [38]:
### import the dataset
## reading the texts comprehension csv file 
df = pd.read_csv("merged_comp_data.csv")

## leave out the uniformative columns
df = df.drop(columns=['nrun',
    'blink',
    'reg.out', 
    'firstrun.skip',
    'firstrun.nfix',
    'firstrun.refix',
    'firstrun.reg.in',
    'firstrun.reg.out',
    'firstrun.gopast',
    'firstrun.gopast.sel',
    'firstfix.sac.in',
    'firstfix.sac.out',
    'firstfix.launch',
    'firstfix.land',
    'firstfix.cland',
    'singlefix',
    'singlefix.sac.in',
    'singlefix.sac.out',
    'singlefix.launch',
    'singlefix.land',
    'singlefix.cland',
    'singlefix.dur'   
 ])

# Repalce NaN values with zero's on all columns 
df = df.fillna(0)

# transform categorical variables to numerical based on their occurence
PoS_Dict = df['PoS'].value_counts()
df['PoS_Dict'] = df['PoS'].map(PoS_Dict)

## print and view main info about the dataframe
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549872 entries, 0 to 549871
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   index.data    549872 non-null  int64
 1   uniform_id    549872 non-null  object
 2   itemid        549872 non-null  int64
 3   sentnum       549872 non-null  int64
 4   ianum         549872 non-null  int64
 5   ia            549872 non-null  object
 6   PoS           549872 non-null  object
 7   skip          549872 non-null  int64
 8   reread        549872 non-null  float64
 9   nfix          549872 non-null  float64
 10  refix         549872 non-null  float64
 11  reg.in        549872 non-null  float64
 12  dur           549872 non-null  float64
 13  firstrun.dur  549872 non-null  float64
 14  firstfix.dur  549872 non-null  float64
 15  lang          549872 non-null  object
 16  PoS_Dict      549872 non-null  int64
dtypes: float64(7), int64(6), object(4)
memory usage: 71.3+ MB
None

,index.data,uniform_id,itemid,sentnum,ianum,ia,PoS,skip,reread,nfix,refix,reg.in,dur,firstrun.dur,firstfix.dur,lang,PoS_Dict
0,34,du_4,1,1,1,Samuel,NNP,0,1.0,2.0,0.0,1.0,312.0,48.0,48.0,du,10021
1,35,du_4,1,1,2,"Morse,",NNP,0,0.0,3.0,1.0,1.0,408.0,408.0,117.0,du,10021
2,36,du_4,1,1,3,best,JJS,0,0.0,1.0,0.0,0.0,96.0,96.0,96.0,du,1654
3,37,du_4,1,1,4,known,VBN,0,0.0,1.0,0.0,0.0,216.0,216.0,216.0,du,18155
4,38,du_4,1,1,5,today,NN,0,0.0,1.0,0.0,0.0,164.0,164.0,164.0,du,76382

In [39]:
summary(df)

           index   dtypes  Missing  Uniques
0     index.data    int64        0   549872
1     uniform_id   object        0      450
2         itemid    int64        0       12
3        sentnum    int64        0       11
4          ianum    int64        0      187
5             ia   object        0      793
6            PoS   object        0       31
7           skip    int64        0        2
8         reread  float64        0        2
9           nfix  float64        0       33
10         refix  float64        0        2
11        reg.in  float64        0        2
12           dur  float64        0     3140
13  firstrun.dur  float64        0     2063
14  firstfix.dur  float64        0     1139
15          lang   object        0       12
16      PoS_Dict    int64        0       31

In [53]:
# converting the dataframe to numpy array
df_num = pd.DataFrame(df).to_numpy()

le = preprocessing.LabelEncoder()


feature_names = ['PoS_Dict','firstrun.dur', 'firstfix.dur', 'dur']

# create the training variables
X_train_df = df[['PoS_Dict','firstrun.dur', 'firstfix.dur', 'dur']]
y_train_df = df['lang']


## encode the languages from strings to integers
le = preprocessing.LabelEncoder()
le.fit(y_train_df)
le.transform(y_train_df)

array([ 0,  0,  0, ..., 11, 11, 11])